/*global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 18px;
}

/*desktop styles*/
.desktop {
  display: flex;
  height: 100vh;
}

/*chick Jokes section styles*/
.chuckJokes {
  width: 66.66%;
  padding: 40px 140px 0 140px;
}

.msi {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 78px;
}

.greet {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.title {
  font-size: 24px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 43px;
}

.mode-selection {
  font-size: 18px;
  line-height: 26px;
}

.mode-selection input[type="radio"] {
  display: none;
}

.mode-selection > label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
  line-height: 18px;
  margin-bottom: 10px;
  user-select: none;
  padding-top: 7px;
}

.mode-selection > label::before {
  content: "";
  background: url(./images/empty-mode.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.mode-selection input[type="radio"]:checked + label::before {
  background: url(./images/checked.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*favourites section styles*/
.favourites {
  width: 33.33%;
  background-color: #f8f8f8;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0;
}

.categories li {
  margin: 7px 10px 7px 0;
}

.categories li:hover {
  background-color: #f8f8f8;
}

.cat span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3px;
  color: #ababab;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  padding: 6px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.cat span:hover {
  background-color: #f8f8f8;
}

.cat :checked + span {
  background: pink !important;
  border-radius: 6px;
  padding: 6px 15px;

  color: #000;
}

.categories input[type="radio"] {
  display: none;
}

.joke-container {
  background-color: #f8f8f8;
  position: relative;
}

.wrapper {
  position: relative;
  background-image: url(./images/message.svg);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  padding: 67px 40px 45px 100px;
}

.hidden {
  display: none;
}

.joke {
  position: relative;
}

.jokeID {
  position: relative;
}

.jokeID::after {
  content: "";
  background: url(./images/link.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  padding-right: 15px;
  /* background-position: 0 0;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1px; */
}

.like {
  position: absolute;
  top: 0;
  right: 0;
}

.like svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.like :checked + svg .fill {
  width: 20px;
  height: 17px;
  fill: #ff6767;
}

/* .likeBtn {
  transition: all 0.3s ease-in-out;
}
.likeBtn:hover {
  transform: scale(1.2);
} */
