/*global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 18px;
}

/*helpers*/
.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}

/*desktop styles*/
.desktop {
  display: flex;
  height: 100vh;
}

/*chick Jokes section styles*/
.chuck-jokes {
  width: 66.66%;
  padding: 40px 140px 0 140px;
}

.msi {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 78px;
}

.greet {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.title {
  font-size: 24px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 43px;
}

.mode-selection {
  font-size: 18px;
  line-height: 26px;
}

.mode-selection input[type="radio"] {
  display: none;
}

.mode-selection > label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
  line-height: 18px;
  margin-bottom: 10px;
  user-select: none;
  padding-top: 7px;
}

.mode-selection > label::before {
  content: "";
  background: url(./images/empty-mode.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.mode-selection input[type="radio"]:checked + label::before {
  background: url(./images/checked.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.searchField {
  max-width: 680px;
  width: 107%;
  height: 42px;
  border: 2px solid #333333;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
}

.searchField::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ababab;
  padding: 10px 0 10px;
}

.searchField[type="text"] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  padding-left: 15px;
}

/*get-jokes button styles*/
.get-jokes-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding: 10px 40px;
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 40px;
}

.get-jokes-btn:hover {
  background: linear-gradient(92.01deg, #4069ff 0%, #2e5bff 100%);
}

/*categories mode styles*/
.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0;
  transition: 2s;
  max-height: 500px;
  overflow-y: hidden;
}

.categories li {
  margin: 7px 10px 7px 0;
}

.categories li:hover {
  background-color: #f8f8f8;
}

.cat span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3px;
  color: #ababab;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  padding: 6px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.cat span:hover {
  background-color: #f8f8f8;
}

.cat :checked + span {
  background: #f8f8f8 !important;
  border-radius: 6px;
  padding: 6px 15px;

  color: #000;
}

.categories input[type="radio"] {
  display: none;
}

/*joke container styles*/
.joke-container {
  position: relative;
}

.zero-height {
  max-height: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  background-image: url(./images/message.svg);

  background-position: 40px 67px;
  background-color: #f8f8f8;
  border-radius: 20px;
  background-repeat: no-repeat;
  padding: 67px 40px 45px 100px;
  transition: 1s ease-in;
  margin-bottom: 25px;
}

.joke-id {
  position: relative;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.joke-id a {
  color: #8ea7ff;
  padding-right: 5px;
}

.joke-id::after {
  content: "";
  background: url(./images/link.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  padding-right: 20px;
}

.joke {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  margin: 5px 0 28px;
}

.joke-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update {
  font-size: 10px;
  line-height: 14px;
  color: #ababab;
}

.joke-category {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fff;
  padding: 6px 20px;
  border-radius: 6px;
}

/*like-heart styles*/
.like {
  position: absolute;
  top: 40px;
  right: 40px;
}

.like svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.like :checked + svg .fill {
  width: 20px;
  height: 17px;
  fill: #ff6767;
}

/*favourites section styles*/
.glass {
  width: 34%;
}

.fav-nav {
  margin-right: 23px;
}

.fav-nav-text {
  display: none;
}

.fav-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #ababab;
  padding: 40px 0 0 40px;
}

.side-bar {
  background-color: #f8f8f8;
}

/*favourites styles*/
.favourites > .wrapper {
  width: 83.5%;
  background-image: url(./images/liked-bg.svg);

  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.favourites > .wrapper {
  background-position: 20px 47px;
  padding: 47px 20px 20px 80px;
}

.favourites > .wrapper .like {
  top: 20px;
  right: 20px;
}

.favourites > .wrapper .joke {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.favourites > .wrapper .joke-category {
  background-color: #f8f8f8;
}

/*burger styles*/
.burger {
  display: none;
  background-color: #333333;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.burger span {
  display: block;
  padding: 1px 7px;
  margin: 2px 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 2px;
}

/*tablet and mobile version*/
@media screen and (max-width: 835px) {
  .top {
    display: flex;
    justify-content: space-between;
  }

  .fav-nav {
    z-index: 999;
    cursor: pointer;
    display: flex;
    position: fixed;
    right: 40px;
    top: 40px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger span {
    transition: all 0.4s ease;
  }

  .cross .line1 {
    transform: rotateZ(45deg) translate(3px) translateY(2px);
    background: #fff;
  }

  .cross .line2 {
    transform: rotateZ(-45deg) translate(2px) translateY(-1px);
    background: #fff;
  }

  .fav-nav-text {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ababab;
    margin-left: 10px;
  }

  .chuck-jokes {
    width: 100%;
    padding: 40px 40px 0 40px;
  }

  .glass {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1s ease;
  }

  .glass.clean {
    background-color: #0000;
  }

  .nav-active {
    transform: translate(-100%);
  }

  .fav-title {
    display: none;
  }

  .side-bar {
    width: 56.5%;
  }

  .favourites {
    height: 80%;
    overflow-y: auto;
    margin-top: 20%;
  }
}

@media screen and (max-width: 420px) {
  .cross .line1 {
    transform: rotateZ(45deg) translate(2px) translateY(2px);
  }

  .cross .line2 {
    transform: rotateZ(-45deg) translate(3px) translateY(-2px);
  }

  .chuck-jokes {
    padding: 20px 20px 0 20px;
  }

  .fav-nav {
    top: 20px;
    right: 20px;
  }

  .searchField {
    width: 340px;
  }

  .favourites {
    width: 100%;
  }
  .like {
    top: 20px;
    right: 20px;
  }

  .wrapper {
    background-position: 20px 67px;
    padding: 47px 20px 20px 80px;
  }

  .joke-info {
    flex-direction: column;
    align-items: start;
  }

  .joke-category {
    margin-top: 10px;
  }
}
